Test Case,Dữ liệu nhập,Kết quả kỳ vọng,Trạng thái (Pass/Fail)
1. Thông thường,"""EXPRESS"", 10",50000,Pass
2. Cận dưới,"""STANDARD"", 5",30000,Pass
3. Dịch vụ lạ,"""AIR"", 2","""Lỗi: Loại dịch vụ...""",Pass
4. Khối lượng âm,"""STANDARD"", -1","""Lỗi: Khối lượng...""",Pass
5. Khối lượng lớn,"""SAME_DAY"", 30",130000,Pass